h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}


.textos{
    color: aliceblue;
    display: grid;
    text-align: center;
    grid-template-rows: 10px 0 10px;
}





.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:blueviolet; }
